h3{
    text-align: center;
}

p{
    font-family: 'Comfortaa', cursive, arial, verdana;
    text-align: center;
}
#contato{
    width: 100%;
    height: 828px;
    padding-top: 90px;    
}

#formulario{
    width: 50%;
    height: 380px;
    padding-top: 20px;
    text-align: center;
    background-color: #00ADB5;
    float: left;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 1em auto;
    width: 80%;
    height: 250px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    color: white;    
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 70px;
    text-align: left;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 450px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 9em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

#redesocial{
    padding-top: 15px;
    padding-left: 260px;
}

#redesocial img{
    width: 45px;
    height: 45px;
    padding-right: 10px;    
}

#info{

    width: 50%;
    height: 380px;
    padding-top: 20px;
    color: #FFFFFF;
    background-color: #1a1a1a;
    float: right;
}

#info p{
    padding-top: 20px;
    font-family: verdana;
    line-height: 35px;
    text-align: center;
}

#localizacao{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    float: left;
    text-align: center;
    background-color: gray;
    color:black;
}

#mapa{
    width:1200px;
    height:350px;
    border:0px;
}